<app-header></app-header>
<app-jumbotron></app-jumbotron>


<section>


  <div class="container contact">

    <h2 class="text-center mb-4">Contact Form</h2>

    <div class="row">

      <div class="col-lg-3 text-center">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>Address: 198 West 21th Street, Suite 721 New York NY 10016</p>
      </div>


      <div class="col-lg-3 text-center">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>Phone: +1235 2355 98</p>
      </div>


      <div class="col-lg-3 text-center">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        <p>Email: info@example.com</p>
      </div>

      <div class="col-lg-3 text-center">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <p>Website yoursite.com</p>
      </div>

    </div>


    <div class="row contact-us mt-8">

      <div class="col-lg-6">

        <h2>Contact US</h2>

        <div class="row wrapper">
          <div class="col-lg-6 form-group">
            <label class="text-uppercase text-bold" for="">full name</label> <br>
            <input required type="text" placeholder="Name">
          </div>
          <div class="col-lg-6 form-group">
            <label class="text-uppercase text-bold" for="">Email address</label> <br>
            <input required type="text" placeholder="Email">
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12 form-group">
            <label class="text-uppercase text-bold" for="">Subject</label> <br>
            <input required type="text" placeholder="Subject">
          </div>

          <div class="col-lg-12 mt-4">
            <label class="text-uppercase text-bold" for="">Message</label> <br>
            <textarea name="" id="" cols="30" rows="10">Message</textarea>
          </div>

        </div>

        <div class="mt-4">
          <a class="btn" href="">send Message</a>
        </div>
      </div>

      <div class="col-lg-6">
        <img
          src="https://images.pexels.com/photos/14331942/pexels-photo-14331942.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
          alt="" height="200" width="200">
      </div>

    </div>




  </div>


  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Contact Form #03</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row mb-5">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Contact Us</h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Your message was sent, thank you!
                </div>
                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="name">Full Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Email Address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Message</label>
                        <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                          placeholder="Message"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <div class="info-wrap w-100 p-5 img" style="background-image: url(assets/img/img.jpg);">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
