<section class="mt-5 ">
  <div class=" container">
    <div class="row ">

      <div class="col-lg-4 col-md-4  card">
        <img class="card-img-top" width="380" height="300" [src]="images[0].imageSrc " [alt]="images[0].imageAlt">
      </div>


      <div class="col-lg-4 col-md-4 card">
        <img class="card-img-top" width="380" height="300" [src]="images[1].imageSrc" [alt]="images[1].imageAlt">
      </div>

      <div class="col-lg-4 col-md-4   card">
        <img class="card-img-top" width="380" height="300" [src]="images[2].imageSrc" [alt]="images[2].imageAlt">
      </div>

    </div>
  </div>


</section>
