// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;






//GRID
$grid-width: 120rem;
$grid-width-md: 96rem;
$grid-width-sm: 72rem;

$gutter-vertical: 6rem;
$gutter-horiozntal: 5rem;
$gutter-vertical-small: 4rem;



$font-size-default: 1.6rem
