























<!-- <section id="why_us ">

  <div class="container">

    <div class="ki mb-4 ">
      <h4> <span>Pourquoi nous</span> </h4>
      <h2>Favorisez la meilleure organisation</h2>
    </div>


    <div class="row">

      <div class="col-lg-4  why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-podcast" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Idée inovatrice</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>


      <div class="col-lg-4 why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-recycle" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Des solutions efficaces</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>

      <div class="col-lg-4 why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Stratégie parfaite</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-4 why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Stratégie parfaite</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>

      <div class="col-lg-4 why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Idée inovatrice</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>

      <div class="col-lg-4 why_us_card">
        <div class="why_us_card_icon">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </div>
        <div class="why_us_card_text">
          <h4>Des solutions efficaces</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          </p>
        </div>
      </div>
    </div>


  </div>
</section> -->
