<nav class="navbar  ">


  <div class="container d-flex direction-row justify-content-between align-items-start">


    <div class="navbar--brand">
      <a href=""> <img class="img-logo" src="assets/img/logo-globucom.png" alt=""> </a>
    </div>


    <div class="navbar--collapse " id="navbarNav">
      <ul class="navbar--nav d-flex direction-row justify-content-between align-items-center  ">
        <li class="nav--item">
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav--link">Accueil</a>
        </li>
        <li class="nav--item">
          <a routerLink="/who-are-you" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav--link">Qui
            sommes nous?</a>
        </li>
        <li class="nav--item-dropdown">
          <a href="" class="nav--link">Services</a>
          <ul class="dropdown--menu">
            <li class="nav--item  nav--sub-item-dropdown d-flex direction-row"><a href="">Etude</a>
              <ul class="dropdown--sub-menu d-flex direction-column ">
                <li class="nav--item"><a routerLink="/service/study/conception" routerLinkActive="active"
                    ariaCurrentWhenActive="page" class="nav--link" href="">Conception 2D et 3D des projets</a></li>
                <li class="nav--item"><a class="nav--link" href="">Suivi</a></li>
              </ul>
            </li>
            <li class="nav--item  nav--sub-item-dropdown d-flex direction-row"><a href="">Obtention du permis de
                conduire</a>
              <ul class="dropdown--sub-menu d-flex direction-column ">
                <li class="nav--item"><a routerLink="/service/obtaining-build-permit/followed" routerLinkActive="active"
                    ariaCurrentWhenActive="page" class="nav--link" href="">Constitution des dossiers</a></li>
                <li class="nav--item"><a class="nav--link" href="">Suivi</a></li>
              </ul>
            </li>
            <li class="nav--item"><a class="nav--link" href="">Réalisation et controle</a></li>
          </ul>
        </li>

        <li class="nav--item">
          <a href="" class="nav--link">Réalisations</a>
        </li>
        <li class="nav--item">
          <a routerLink="/catalogue" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav--link">Catalogue
            projet</a>
        </li>
        <li class="nav--item">
          <a href="" class="nav--link">Actionnaire</a>
        </li>
        <li class="nav--item">
          <a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="nav--link btn btn-animated ">Contactez-nous</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
