h4>span {
    color: #205F8F;
    text-align: center;
    padding: 1rem 3rem;
    background-color: #b8d5eb;
    border-radius: 10%/50%;
    font-weight: bold;
    font-size: 1.6rem;
    -webkit-border-radius: 10%/50%;
    -moz-border-radius: 10%/50%;
    -ms-border-radius: 10%/50%;
    -o-border-radius: 10%/50%;
  }
 