<section id="partner" class="text-center" >


<div class="mb-8" >
    <h4> <span> Nos parteniares</span></h4>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3" >
                <img src="assets/img//Partenaires/p1.jpeg" alt="partenaire1" height="150" width="150" >
            </div>
            <div class="col-lg-3">
                <img src="assets/img/Partenaires/p2.jpeg" alt="parteniare2"  height="150" width="150">
            </div>
            <div class="col-lg-3">
                <img src="assets/img/Partenaires/p3.jpeg" alt="parternaire3"  height="150" width="150">
            </div>
            <div class="col-lg-3">
                <img src="assets/img/Partenaires/p4.jpeg" alt="partenaire4"  height="150" width="150">
            </div>
        </div>
    </div>

</section>
