<section class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 jumbotron_text">
                <h1 class="text-uppercase" >Qui sommes nous ?</h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 jumbotron_image">
                <img [src]="imagesJu[0].imageSrc" [alt]="imagesJu[0].imageAlt">
            </div>
        </div>
        </div> 
    <div class="curved">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1"
      d="M0,256L80,240C160,224,320,192,480,202.7C640,213,800,267,960,272C1120,277,1280,235,1360,213.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>
    </div>
</section>



