<section class="mt-5 ">
  <div class=" container">
    <h4 class="text-center mb-4"> <span>Nos Actualités</span> </h4>
    <div class="row ">


      <div class="col-lg-4 col-md-4  card">
        <img class="card-img-top" width="380" height="250"
          src="assets/img/Réalisations/R1.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <span class="card-text-prim">Globucam réalisera un immeuble sous-sol R+3 à Lendi / Douala</span>
            <span class="card-text-sub">Dès janvier 2023</span>
          </p>
        </div>
        <div><p> <span class="card-bord" >Building</span> </p></div>
      </div>


      <div class="col-lg-4 col-md-4 card">
        <img class="card-img-top" width="380" height="250"
          src="assets/img/Réalisations/R2.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <span class="card-text-prim">Globucam réalisera un immeuble sous-sol R+3 à Lendi / Douala4</span>
            <span class="card-text-sub">Dès janvier 2023</span>
          </p>
        </div>
        <div> <p><span class="card-bord">Efficiency</span> </p></div>
      </div>

      <div class="col-lg-4 col-md-4   card">
        <img class="card-img-top" width="380" height="250"
          src="assets/img/Réalisations/R3.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            <span class="card-text-prim">Globucam réalisera un immeuble sous-sol R+3 à Lendi / Douala4</span>
            <span class="card-text-sub">Dès janvier 2023</span>
          </p>
        </div>
        <div><p><span class="card-bord" >Architecture</span> </p> </div>
      </div>

    </div>
  </div>


</section>
