<header>
  <app-header></app-header>
</header>

<main>
  <app-jumbotron></app-jumbotron>

  <div class="container mb-2">
    <h1>Constitution</h1>
    <hr>
    <div>
      <p>
        <span class="jump">Toutes les pièces qui vous sont demandées sont obligatoires et nécessaires pour l’instruction
          de votre
          dossier.</span>
        <span class="jump">Si des pièces manquent au dossier, l’instruction de votre dossier ne pourra pas débuter.
          Certaines pièces
          sont
          obligatoires pour tous les dossiers, d’autres sont à joindre en fonction de la nature et de la situation de
          votre projet
        </span>
        <span class="jump">
          Votre dossier sera examiné sur la foi des déclarations et des documents que vous fournissez.
        </span>
        <span class="jump">
          En cas de fausse déclaration, vous vous exposez à une annulation de la décision et à des sanctions pénales.
        </span>
        <span class="jump">
          Un exemplaire couleur minimum est exigé.
        </span>
        <span class="jump">
          Tout dossier doit être constitué : du formulaire CERFA et d’un ensemble de pièces.
        </span>

      </p>
    </div>
  </div>

  <div class="mb-8">
    <app-accordion></app-accordion>
  </div>



  <div class="mb-8" style="background-color:#0D9ED7;  text-align: center; color:white;  padding:  5rem ">
    <p> <span class="jum">Pour plus de renseignements dans la procédure</span>
      <span class="jum">d'obtenir un permis de conduire</span>
    </p>
    <a href="" class="btn btn--white btn--animated">Contactez-vous</a>
  </div>




  <div class="container  mb-8">
    <div class="quotation-frame">
      <div class="rond rond-1"></div>
      <div class="rond rond-2"></div>
      <div class="quotation">
        <p>Auparavent, les documents materialisés en salle courier étaient à dispositions des gestionnaires au bout de
          24h
          ou 48h... Avec la capture interactive, ils le sont dans la minute </p>
        <p>Florent Juillet de Saint-Lager</p>
        <p>Architecte SI, Caisse des dépots</p>
      </div>
    </div>
  </div>


  <div class="container  mb-8">
    <h1>Enjeux pour l'obtention d'un permis de bâtir</h1>
    <hr>
    <div>
      <p>
        <span class="jump">Toutes les pièces qui vous sont demandées sont obligatoires et nécessaires pour l’instruction
          de votre dossier.
        </span>

        <span class="jump">Si des pièces manquent au dossier, l’instruction de votre dossier ne pourra pas débuter.
          Certaines pièces
          sont
          obligatoires pour tous les dossiers, d’autres sont à joindre en fonction de la nature et de la situation de
          votre projet
        </span>

        <span class="jump">Votre dossier sera examiné sur la foi des déclarations et des documents que vous
          fournissez.</span>
        <span>En cas de fausse déclaration, vous vous exposez à une annulation de la décision et à des sanctions
          pénales.</span>

        <span class="jump">Un exemplaire couleur minimum est exigé.</span>

        <span class="jump">Tout dossier doit être constitué : du formulaire CERFA et d’un ensemble de pièces.</span>

      </p>
    </div>
  </div>

</main>
