<section id="value" style="margin-top: 15rem;">
  <div class="container">
    <div class="content">

      <div class="value_text mb-4">
        <h4> <span>Les valeurs de GLOBUCOM</span></h4>
      </div>

      <div class="value_item">

        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Corporate Finance</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>


        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Economic Consulting</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>

        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Forensic & Ligigation</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>

        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Strategic Communications</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>

        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Technology Consulting</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>

        <div class="value_items">
          <div class="value_items_icon">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </div>
          <div class="value_items_text">
            <h4>Healthcare Consulting</h4>
            <p>ere are the best font generators that can help you download fonts, allow you to customize how the letters
              look or even create your own</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
