<section>
  <div class="container">

    <div class="row">

      <aside class="col-lg-6">


        <div class="row">
          <div class="col-lg-6"><img
              src="https://media.istockphoto.com/id/1344212169/fr/photo/un-architecte-confiant-et-performant-sur-le-chantier-de-construction.jpg?s=612x612&w=0&k=20&c=nvvnbKd8kj1jJo5S_xNILjfidPbgEQVp6DdRJ1R4Euw="
              alt="" class="img-top" height="250" width="600">
          </div>
          <div class="col-lg-6"><img
              src="https://media.istockphoto.com/id/918746438/fr/photo/maison-neuve-r%C3%A9sidentielle-de-construction-en-cours-au-chantier.jpg?s=612x612&w=0&k=20&c=-6_4ePpq07kEqn9r5hoyDt3chaJWTfFJHu2-BPJIKXU="
              alt="" class="img-top down" height="250" width="600">
          </div>
        </div>



        <div class="row">
          <div class="col-lg-6" data-aos="fade-right"><img
              src="https://media.istockphoto.com/id/961452318/fr/photo/ing%C3%A9nierie-diagramme-plan-papier-r%C3%A9daction-projet-croquis-architectural-dessin-de-d%C3%A9tail-et.jpg?s=612x612&w=0&k=20&c=MQs3slgiErrv_Y_v8B_cqURSFqKJ_lHdQpHRd7S1gJI="
              alt="" class="img-top" height="250" width="600">
          </div>
          <div class="col-lg-6" data-aos="fade-left"><img
              src="https://media.istockphoto.com/id/1297780288/fr/photo/offrir-une-construction-de-qualit%C3%A9-pour-un-style-de-vie-de-qualit%C3%A9.jpg?s=612x612&w=0&k=20&c=_Sab9-aPGeGeIKwWGpb3wHdWelvuZz9HMjwmaHB_rJw="
              alt="" class="img-top down" height="250" width="600">
          </div>
        </div>

        <div class="experience">
          <h4>
            <span class="i">5+</span>
            <span class="o">years experiences</span>
          </h4>
        </div>

      </aside>


      <article class="col-lg-6">

        <h4 class="mb-4"> <span>A propos de nous</span></h4>
        <h2>WE ELEVATE THE BEAUTY OF YOUR HOME</h2>
        <p>Each color evokes different emotions for each individual. Your emotions still depend on your individual life
          experience.
          ipsum dolor sit amet, ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna aliqua
          quis
          nostrud consequat.

        </p>

      </article>



    </div>






  </div>

</section>
