<footer>

  <div class="container">

    <div class="row">

      <div class="col-lg-4  ">
        <div> <img class="img-logo" src="assets/img/logo-globucom.png" alt=""> </div>
        <div>
          <p>Avec GLOBAL BUILDING COMPANY, construisez votre maison au Cameroun avec des professionnels fiables. Devis gratuit en ligne, suivi de travaux à distance, aide au financement.</p>
        </div>
      </div>



      <div class="col-lg-4 i">
        <div>
          <h4 class="text-uppercase" >Liens utiles</h4>
        </div>
        <div>
          <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Qui sommes nous</a></li>
            <li><a href="">Service</a> </li>
            <li><a href="">Nos réalisations</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div>
          <h4 class="text-uppercase">Infos de contact</h4>
        </div>
        <div>
          <p>Addresse: YAOUNDE-MVAN</p>
          <p>B.P 34055</p>
          <p>Email: infos@globucom.com</p>
          <p>Téléphone: 657240256/242007949</p>
        </div>
      </div>

    </div>

  </div>


</footer>



