<div class="container">

  <div style="margin-left: 96%;">
    <p>Déplier</p>
    <hr>
  </div>
  <div class="accordion-heading" id="f1" (click)="accordion('f1')"><i class="fa fa-arrow-right"></i>Définition
    <span class="pull-right up-icon " [class.icon]="id === 'f1'"> <i class="fa fa-chevron-up"></i>
    </span>
  </div>
  <div style="border:0.1rem solid rgb(118, 118, 175);;  "></div>
  <div class="accordion-content" *ngIf="id === 'f1'">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Risus quis varius quam quisque id. Eu non diam phasellus vestibulum lorem sed risus.</div>

  <div class="accordion-heading" id="f2" (click)="accordion('f2')"><i class="fa fa-arrow-right"></i>Gestion du dossier
    <span class="pull-right up-icon" [class.icon]="id === 'f2'"> <i class="fa fa-chevron-up"></i>
    </span>
  </div>
  <div style="border:0.1rem solid rgb(118, 118, 175);;  "></div>
  <div class="accordion-content " *ngIf="id === 'f2'">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Risus quis varius quam quisque id. Eu non diam phasellus vestibulum lorem sed risus.</div>

  <div class="accordion-heading" id="f3" (click)="accordion('f3')"><i class="fa fa-arrow-right"></i>Accès de l'argent
    dans le dossier <span class="pull-right up-icon" [class.icon]="id === 'f3'"> <i class="fa fa-chevron-up"></i>
    </span></div>
  <div style="border:0.1rem solid rgb(118, 118, 175);;  "></div>
  <div class="accordion-content " *ngIf="id === 'f3'">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Risus quis varius quam quisque id. Eu non diam phasellus vestibulum lorem sed risus.</div>

</div>
