<section class="mt-5 ">
  <div class=" container">
    <div class="row ">
      <div class="mb-4" style="text-align:center;">
        <h4><span>Nos services</span></h4>
      </div>

      <div class="col-lg-4 col-md-4  card" data-aos="flip-left" >
        <img class="card-img-top" width="380" height="300" [src]="imagesService[0].imageSrc"
          [alt]="imagesService[0].imageAlt">
        <div class="card-num">
          <p class="card-text"> <span><span>01</span></span> </p>
          <div class="card-circle"></div>
          <div class="card-border"></div>
        </div>
        <div class="card-desc">
          <h2>Devis de construction</h2>
          <p>Pour chaque construction nous réalisons un devis détaillé, complet et sur-mesure.</p>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 card" data-aos="flip-up">
        <img class="card-img-top" width="380" height="300" [src]="imagesService[1].imageSrc"
          [alt]="imagesService[1].imageAlt">
        <div class="card-num">
          <p class="card-text"> <span><span>02</span></span></p>
          <div class="card-circle"></div>
          <div class="card-border"></div>
        </div>
        <div class="card-desc">
          <h2>Suivi et plans architecte</h2>
          <p>Nous concevons vos plans 3D selon vos souhaits, de l’avant-projet sommaire à l’avant-projet détaillé.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4  card" data-aos="flip-right">
        <img class="card-img-top" width="380" height="300" [src]="imagesService[2].imageSrc"
          [alt]="imagesService[2].imageAlt">
        <div class="card-num">
          <p class="card-text"> <span><span>03</span></span></p>
          <div class="card-circle"></div>
          <div class="card-border"></div>
        </div>
        <div class="card-desc">
          <h2>Construction </h2>
          <p>Nous vous accompagnons tout au long de la construction de la maison de vos rêves.</p>
        </div>
      </div>

    </div>
  </div>


</section>
