<nav class="infos bg-color  ">

    <div class="container">

        <div class="infos--items d-flex direction-now justify-content-between">

            <ul class="infos--item d-flex direction-row ">
                <li><i class="fa fa-phone" style="padding-right:1rem"></i>+237 6555555555</li>
                <li><i class="fa fa-envelope" style="padding-right:1rem"></i>infos@globucom.com</li>
            </ul>


            <ul class="infos--item  d-flex direction-row">
                <li><a href=""><i class="fab fa-facebook-f "></i></a></li>
                <li><a href=""><i class="fab fa-skype"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
            </ul>


        </div>

    </div>


</nav>
